Roteiro01/q23
Roteiro01/q22
Roteiro01/q21
Roteiro01/q18
Roteiro01/q17
Roteiro01/q16
Roteiro01/q15
Roteiro01/q13
Roteiro01/q12
Roteiro01/q11
Roteiro01/q10
Roteiro01/q09
Roteiro01/q08
Roteiro01/q07
Roteiro01/q06
Roteiro01/q01
Roteiro01/q02
Roteiro01/q03
Roteiro01/q04
Roteiro01/q05
.vscode/tasks.json
.vscode/launch.json
Roteiro02/q1
Roteiro02/q2
Roteiro02/q3
Roteiro02/q5
Roteiro02/q6
Roteiro02/q7
Roteiro02/q8
Roteiro02/q10
Roteiro02/.vscode/tasks.json
